<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="image/favicon.png" rel="icon" />
  <title>Howdys market</title>
  <meta name="description" content="Responsive and clean html template design for any kind of ecommerce webshop">
  <!-- CSS Part Start-->
  <% include ../partials/bootstrap %>
  <!-- CSS Part End-->
</head>
<body>
<div class="wrapper-wide">
  <div id="header">
    <!-- Top Bar Start-->
    <% include ../partials/top %>
    <!-- Top Bar End-->
    <!-- Header Start-->
    <% include ../partials/admin-logo-section %>
    <!-- Header End-->
    <!-- Main Menu Start-->
    <% include ../partials/admin-header %>
    <!-- Main Menu End-->
  </div>

  <div class="row">

    <div id="content" class="col-lg-offset-1 col-lg-9">

    <div id="cust" class="tab-pane fade in active">
      <h1 class="title">ADMINS</h1>
      <table class="table">
      <thead>
        <tr>
          <th>FNAME</th>
          <th>LNAME</th>
          <th>MOBILE NO</th>
          <th>RESIDENCE</th>
          <th>ROLE</th>
          <th>ACTION</th>


  </tr>
      </thead>
      <tbody>

        <% for(i=0; i<users.length; i++) { %>
      <tr >

        <td><%= users[i].firstname %></td>
        <td><%= users[i].lastname %></td>
        <td><%= users[i].phone %></td>
        <td><%= users[i].residence %></td>
        <td><%= users[i].role %></td>
      <td><a href="/deleteuser/<%= users[i]._id %>">Delete</a></td>


      </tr>
      <% } %>

      </tbody>
      </table>
    </div>

  </div>
</div>


  <!--Footer Start-->
<% include ../partials/footer %>
  <!-- Custom Side Block End -->
</div>
<!-- JS Part Start-->
<% include ../partials/footer-script %>
<!-- JS Part End-->
</body>
</html>
