<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="image/favicon.png" rel="icon" />
  <title>Contact Us</title>
  <meta name="description" content="Responsive and clean html template design for any kind of ecommerce webshop">
  <!-- CSS Part Start-->
  <% include ../partials/bootstrap %>
  <!-- CSS Part End-->
</head>
<body>
<div class="wrapper-wide">
  <div id="header">
    <!-- Top Bar Start-->
    <% include ../partials/top %>
    <!-- Top Bar End-->
    <!-- Header Start-->
    <% include ../partials/admin-logo-section %>
    <!-- Header End-->
    <!-- Main Menu Start-->
    <% include ../partials/admin-header %>
    <!-- Main Menu End-->
  </div>


<div class="row">
<div id="content" class="col-lg-offset-1 col-lg-9">
  <h1 class="title">Vegetables</h1>
  <h3 class="subtitle">Refine Search</h3>
  <div class="product-filter">
    <div class="row">
      <div class="col-md-4 col-sm-5">
        <div class="btn-group">
          <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="List"><i class="fa fa-th-list"></i></button>
          <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="Grid"><i class="fa fa-th"></i></button>
        </div>
        <a href="compare.html" id="compare-total">Product Compare (0)</a> </div>
      <div class="col-sm-2 text-right">
        <label class="control-label" for="input-sort">Sort By:</label>
      </div>
      <div class="col-md-3 col-sm-2 text-right">
        <select id="input-sort" class="form-control col-sm-3">
          <option value="" selected="selected">Default</option>
          <option value="">Name (A - Z)</option>
          <option value="">Name (Z - A)</option>
          <option value="">Price (Low &gt; High)</option>
          <option value="">Price (High &gt; Low)</option>
          <option value="">Rating (Highest)</option>
          <option value="">Rating (Lowest)</option>
          <option value="">Model (A - Z)</option>
          <option value="">Model (Z - A)</option>
        </select>
      </div>
      <div class="col-sm-1 text-right">
        <label class="control-label" for="input-limit">Show:</label>
      </div>
      <div class="col-sm-2 text-right">
        <select id="input-limit" class="form-control">
          <option value="" selected="selected">20</option>
          <option value="">25</option>
          <option value="">50</option>
          <option value="">75</option>
          <option value="">100</option>
        </select>
      </div>
    </div>
  </div>
  <br />



  <div class="row products-category">
    <% for(i=0; i<products.length; i++) {%>
    <div class="product-layout product-list col-xs-12">
      <div class="product-thumb">
        <div class="image"><a href="/adproduct/<%= products[i].id %>"><img src="<%= products[i].picture %>" alt=" <%= products[i].name %> " title=" <%= products[i].name %> " class="img-responsive" /></a></div>
        <div>
          <div class="caption">
            <h4><a href="/adproduct/<%= products[i].id %>"> <%= products[i].name %></a></h4>
            <p class="description"> <%= products[i].note %></p>
            <p class="price"> <span class="price-new">ksh.<%= products[i].price %></span> <span class="price-old">ksh.<%= products[i].prevPrice %></span> <span class="saving">-26%</span> <span class="price-tax">Ex Tax: $1,400.00</span> </p>
          </div>
          <div class="button-group">
            <button class="btn-primary" data-toggle="modal" data-target="#<%= products[i].id %>" type="button" onClick=""><span>EDIT</span></button>
            <a href="/deletepro/<%= products[i].id %>" data-toggle="modal" data-target="#del" class="btn btn-danger" type="button" onClick=""><span>REMOVE</span></a>
            </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <div class="row">
    <div class="col-sm-6 text-left">
      <ul class="pagination">
        <li class="active"><span>1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">&gt;</a></li>
        <li><a href="#">&gt;|</a></li>
      </ul>
    </div>
    <div class="col-sm-6 text-right">Showing 1 to 12 of 15 (2 Pages)</div>
  </div>
</div>
</div>

<!-- Modal start -->

<!-- Modal -->
<% for(i=0; i<products.length; i++) { %>
<div id="<%= products[i].id %>" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <% include ../partials/item-modal %>

  </div>
</div>
<% } %>
<!-- End of modal-->

<div id="del" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <% include ../partials/flash-modal %>

  </div>
</div>


<!--Footer Start-->
<% include ../partials/footer %>
<!-- Custom Side Block End -->
</div>
<!-- JS Part Start-->
<% include ../partials/footer-script %>
<!-- JS Part End-->
</body>
</html>
