<h3 class="subtitle">Categories</h3>
<div class="box-category">
  <ul id="cat_accordion">
    <li><a href="/vegetables">Vegetables</a> <span class="down"></span>
      <ul>
        <li><a href="/vegetables">Organic</a></li>
        <li><a href="/vegetables">Kienyeji</a></li>
      </ul>
    </li>
    <li><a class="active" href="/staples">Staples & Groceries</a> <span class="down"></span>

          <ul>
            <li><a href="/staples">Cereals</a></li>

          </ul>

    </li>
    <li><a href="/fruits">Fruits</a> <span class="down"></span>
      <ul>


      </ul>
    </li>
    <li><a href="/kitchen">Kitchen</a> <span class="down"></span>

    </li>
    <li><a href="/pcare">Health &amp; Beauty</a> <span class="down"></span>
      <ul>
        <li><a href="/pcare">Men</a> </span></li>
        <li><a href="/pcare">Women</a></li>
        <li><a href="/pcare">Girls</a></li>
        <li><a href="/pcare">Boys</a></li>
        <li><a href="/pcare">Baby</a></li>

      </ul>
    </li>
  </ul>
</div>
<h3 class="subtitle">Bestsellers</h3>
<div class="side-item">
  <% for(i=0; i<bestselling.length; i++) { %>

  <div class="product-thumb clearfix">
    <div class="image"><a href="/product/<%= bestselling[i].id %>"><img src="<%= bestselling[i].picture %>" alt="Brand Fashion Cotton T-Shirt" title="Brand Fashion Cotton T-Shirt" class="img-responsive" /></a></div>
    <div class="caption">
      <h4><a href="/product/<%= bestselling[i].id %>"><%= bestselling[i].name %></a></h4>
      <p class="price"><span class="price-new">ksh.<%= bestselling[i].price %></span> <span class="price-old">ksh.<%= bestselling[i].prevPrice %></span> <span class="saving">-10%</span></p>
    </div>
  </div>
  <% } %>

</div>
<h3 class="subtitle">Specials</h3>
<div class="side-item">
  <% for(i=0; i<special.length; i++) { %>
  <div class="product-thumb clearfix">
    <div class="image"><a href="/product/<%= special[i].id %>"><img src="<%= special[i].picture %>" alt=" <%= special[i].name %> " title=" <%= special[i].name %> " class="img-responsive" /></a></div>
    <div class="caption">
      <h4><a href="/product/<%= special[i].id %>"><%= special[i].name %></a></h4>
      <p class="price"> <span class="price-new">ksh.<%= special[i].price %></span> <span class="price-old">ksh.<%= special[i].prevPrice %></span> <span class="saving">-26%</span> </p>
    </div>
  </div>
  <% } %>
</div>
<div class="banner owl-carousel">
  <div class="item"> <a href="#"><img src="image/mpesa.jpg" alt="small banner" class="img-responsive" style="width : 150px" /></a> </div>
  <div class="item"> <a href="#"><img src="image/mpesa2.jpg" alt="small banner1" class="img-responsive" style="width : 150px" /></a> </div>
</div>
