<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="image/favicon.png" rel="icon" />
<title>Howdy's Market</title>
<meta name="description" content="Responsive and clean html template design for any kind of ecommerce webshop">
<!-- CSS Part Start-->
<% include ../partials/bootstrap %>
<!-- CSS Part End-->
</head>
<body>
<div class="wrapper-wide">

  <div id="header">
    <!-- Top Bar Start-->
    <% include ../partials/top %>
    <!-- Top Bar End-->
    <!-- Header Start-->
  <% include ../partials/logo-section %>
    <!-- Header End-->
    <!-- Main Menu Start-->
    <% include ../partials/header %>
    <!-- Main Menu End-->
  </div>
</div>
<div id="container">
  <div class="container">
    <!-- Breadcrumb Start-->
    <ul class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i></a></li>
      <li><a href="/cart">Shopping Cart</a></li>
    </ul>
    <!-- Breadcrumb End-->
    <% if(!products)  { %>
<div class="row">
<div class="col-md-12 text-centre">
<h3>No Cart</h3>
</div>
</div>
      <% } %>
    <% if (products)  { %>
    <div class="row">
      <!--Middle Part Start-->
      <div id="content" class="col-sm-12">
        <h1 class="title">Shopping Cart</h1>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr >
                  <td class="text-center">Image</td>
                  <td class="text-left">Product Name</td>
                  <td class="text-left">Quantity</td>
                  <td class="text-right">Unit Price</td>
                  <td class="text-right">Total</td>
                  <td class="text-right">Add Quantity</td>
                  <td class="text-right">Reduce Quantity</td>
                  <td class="text-right">Delete Product</td>
                </tr>
              </thead>
              <tbody id="">
                <% for(i=0; i<products.length; i++){ %>
                <tr>
                  <td class='text-center'>"
                <a href='/product/<%= products[i].item._id %>'><img class='img-thumbnail' src="<%= products[i].item.picture  %>" style='height : 50px; width : 50px'></a></td>
                <td class='text-left'><%= products[i].item.name  %></td>
                <td class='text-left'><%= products[i].qty  %></td>
                <td class='text-right'><%= products[i].item.price  %></td>
                <td class='text-right'><%= products[i].price  %></td>
                <td class='text-right'><a href="/addItemToCart/<%= products[i].item._id %>" class='btn btn-primary plus-item' data-id=''>+</a></td>
                <td class='text-right'><a href="/reduceByOne/<%= products[i].item._id %>" class='btn btn-warning subtract-item' data-id=''>-</a></td>
                <td class='text-right'><a href="/removeAll/<%= products[i].item._id %>" class='btn btn-danger delete-item' data-id=''>x</a></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>

        <div class="row">
          <div class="col-sm-4 col-sm-offset-8">
            <table class="table table-bordered">
              <tr>
                <td class="text-right"><strong>Sub-Total:</strong></td>
                <td class="text-right">Ksh.<span id="totat"><%= totalPrice %></span></td>
              </tr>
              <tr>
                <td class="text-right"><strong>Transport:</strong></td>
                <td class="text-right">Ksh.<span >100</span></td>
              </tr>
              <tr>
                <td class="text-right"><strong>Total:</strong></td>
                <td class="text-right">Ksh.<span id="total-cost"></span></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="buttons">
          <div class="pull-left"><a href="/" class="btn btn-default">Continue Shopping</a></div>
          <div class="pull-right"><a href="/checkout" class="btn btn-primary">Checkout</a></div>
        </div>
      </div>
      <!--Middle Part End -->
    </div>
    <% } %>

  </div>
</div>

<!--Footer Start-->
<% include ../partials/footer %>
<!-- footer ends -->
<!-- Custom Side Block End -->
</div>
<!-- JS Part Start-->
<% include ../partials/footer-script %>
<!-- JS Part End-->
</body>
</html>
