<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="image/favicon.png" rel="icon" />
<title>Howdy's Market</title>
<meta name="description" content="Responsive and clean html template design for any kind of ecommerce webshop">
<!-- CSS Part Start-->
<% include ../partials/bootstrap %>
<!-- CSS Part End-->
</head>
<body>
<div class="wrapper-wide">

  <div id="header">
    <!-- Top Bar Start-->
    <% include ../partials/top %>
    <!-- Top Bar End-->
    <!-- Header Start-->
  <% include ../partials/logo-section %>
    <!-- Header End-->
    <!-- Main Menu Start-->
    <% include ../partials/header %>
    <!-- Main Menu End-->
  </div>
</div>
  <div id="container">
    <div class="container">
          <!-- Breadcrumb Start-->
          <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="/cart">Shopping Cart</a></li>
            <li><a href="/checkout">Checkout</a></li>
          </ul>
          <!-- Breadcrumb End-->
          <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
              <h1 class="title">Checkout</h1>
              <form action="/cart" method="post" >

              <div class="row">
                <div class="col-sm-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><i class="fa fa-sign-in"></i> Create an Account or Login</h4>
                    </div>
                      <div class="panel-body">
                            <div class="radio">
                              <label>
                                <input type="radio" value="register" name="account">
                                Register Account</label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" checked="checked" value="guest" name="account">
                                Guest Checkout</label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" value="returning" name="account">
                                Returning Customer</label>
                            </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><i class="fa fa-user"></i> Your Personal Details</h4>
                    </div>
                      <div class="panel-body">
                            <fieldset id="account">
                              <div class="form-group required">
                                <label for="input-payment-lastname" class="control-label">Full Name</label>
                                <input type="text" class="form-control" id="input-payment-lastname" placeholder="Full Names" value="" name="name">
                              </div>
                              <div class="form-group required">
                                <label for="input-payment-telephone" class="control-label">Telephone</label>
                                <input type="text" class="form-control" id="input-payment-telephone" placeholder="Telephone" value="" name="phone">
                              </div>

                            </fieldset>
                          </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><i class="fa fa-book"></i> Your Address</h4>
                    </div>
                      <div class="panel-body">
                            <fieldset id="address" class="required">

                              <div class="form-group required">
                                <label for="input-payment-address-1" class="control-label">Residence</label>
                                <input type="text" class="form-control" id="input-payment-address-1" placeholder="Residential Area" value="" name="residence">
                              </div>
                              <div class="form-group required">
                                <label for="input-payment-address-2" class="control-label">Street</label>
                                <input type="text" class="form-control" id="input-payment-address-2" placeholder="Street" value="" name="street">
                              </div>
                              <div class="form-group">
                                <label for="input-payment-city" class="control-label">Building</label>
                                <input type="text" class="form-control" id="input-payment-city" placeholder="Building" value="" name="building">
                              </div>

                              <div class="checkbox">
                                <label>
                                  <input type="checkbox" checked="checked" value="1" name="shipping_address">
                                  My delivery and billing addresses are the same.</label>
                              </div>
                            </fieldset>
                          </div>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><i class="fa fa-truck"></i> Delivery Method</h4>
                        </div>
                          <div class="panel-body">
                            <p>Please select the preferred shipping method to use on this order.</p>
                            <div class="radio">
                              <label>
                                <input type="radio" checked="checked" name="Free Shipping">
                                Free Shipping - $0.00</label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" name="Flat Shipping Rate">
                                Flat Shipping Rate - $8.00</label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" name="Per Item Shipping Rate">
                                Per Item Shipping Rate - $150.00</label>
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><i class="fa fa-credit-card"></i> Payment Method</h4>
                        </div>
                          <div class="panel-body">
                            <p>Please select the preferred payment method to use on this order.</p>
                            <div class="radio">
                              <label>
                                <input type="radio" checked="checked" name="Cash On Delivery">
                                Cash On Delivery</label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" name="Bank Transfer">
                                Bank Transfer</label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" name="Paypal">
                                Paypal</label>
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><i class="fa fa-ticket"></i> Use Coupon Code</h4>
                        </div>
                          <div class="panel-body">
                            <label for="input-coupon" class="col-sm-3 control-label">Enter coupon code</label>
                            <div class="input-group">
                              <input type="text" class="form-control" id="input-coupon" placeholder="Enter your coupon here" value="" name="coupon">
                              <span class="input-group-btn">
                              <input type="button" class="btn btn-primary" data-loading-text="Loading..." id="button-coupon" value="Apply Coupon">
                              </span></div>
                          </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><i class="fa fa-gift"></i> Use Gift Voucher</h4>
                        </div>
                          <div class="panel-body">
                            <label for="input-voucher" class="col-sm-3 control-label">Enter gift voucher code</label>
                            <div class="input-group">
                              <input type="text" class="form-control" id="input-voucher" placeholder="Enter your gift voucher code here" value="" name="voucher">
                              <span class="input-group-btn">
                              <input type="submit" class="btn btn-primary" data-loading-text="Loading..." id="button-voucher" value="Apply Voucher">
                              </span> </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><i class="fa fa-shopping-cart"></i> Shopping cart</h4>
                        </div>
                          <div class="panel-body">
                            <div class="table-responsive">
                              <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <td class="text-center">Image</td>
                                    <td class="text-left">Product Name</td>
                                    <td class="text-left">Quantity</td>
                                    <td class="text-right">Unit Price</td>
                                    <td class="text-right">Total</td>
                                  </tr>
                                </thead>
                                <tbody id="">
                                  <% for(i=0; i<products.length; i++){ %>
                                  <tr>
                                    <td class='text-center'>"
                                  <a href='/product/<%= products[i].item._id %>'><img class='img-thumbnail' src="<%= products[i].item.picture  %>" style='height : 50px; width : 50px'></a></td>
                                  <td class='text-left'><%= products[i].item.name  %></td>
                                  <td class='text-left'><%= products[i].qty  %></td>
                                  <td class='text-right'><%= products[i].item.price  %></td>
                                  <td class='text-right'><%= products[i].price  %></td>
                                  </tr>
                                  <% } %>
                                </tbody>
                                <tfoot>
                                  <tr>
                                    <td class="text-right" colspan="4"><strong>Sub-Total:</strong></td>
                                    <td class="text-right" >ksh.<span id="total-cart-c"></span></td>
                                  </tr>
                                  <tr>
                                    <td class="text-right" colspan="4"><strong>Flat Shipping Rate:</strong></td>
                                    <td class="text-right">ksh.100.00</td>
                                  </tr>
                                  <tr>
                                    <td class="text-right" colspan="4"><strong>Total:</strong></td>
                                    <td class="text-right">ksh.<span id="total-cost-c"></span></td>
                                  </tr>
                                </tfoot>
                              </table>
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><i class="fa fa-pencil"></i> Add Comments About Your Order</h4>
                        </div>
                          <div class="panel-body">
                            <textarea rows="4" class="form-control" id="confirm_comment" name="comments"></textarea>
                            <br>
                            <label class="control-label" for="confirm_agree">
                              <input type="checkbox" checked="checked" value="1" required="" class="validate required" id="confirm_agree" name="confirm agree">
                              <span>I have read and agree to the <a class="agree" href="#"><b>Terms &amp; Conditions</b></a></span> </label>
                            <div class="buttons">
                              <div class="pull-right">
                                <input type="submit" class="btn btn-primary" id="button-confirm" value="Confirm Order">
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            </div>
        <!--Middle Part End -->
    </div>
  </div>
</div>

<!--Footer Start-->
<% include ../partials/footer %>
<!-- footer ends -->
<!-- Custom Side Block End -->
</div>
<!-- JS Part Start-->
<% include ../partials/footer-script %>
<!-- JS Part End-->
</body>
</html>
